<h1>Santosh Learning RxJS</h1>
<nav>
  <ul>
    <li><a routerLink="/rxjs-learning" routerLinkActive="active" ariaCurrentWhenActive="page">RxJS Learning</a></li>
    <li><a routerLink="/of-operator" routerLinkActive="active" ariaCurrentWhenActive="page">Of Operator</a></li>
    <li><a routerLink="/from-operator" routerLinkActive="active" ariaCurrentWhenActive="page">From Operator</a></li>
    <li><a routerLink="/from-event" routerLinkActive="active" ariaCurrentWhenActive="page">From-event</a></li>
    <li><a routerLink="/interval-operator" routerLinkActive="active" ariaCurrentWhenActive="page">Interval Operator</a></li>
    <li><a routerLink="/debounce-time" routerLinkActive="active" ariaCurrentWhenActive="page">Debounce Time</a></li>
    <li><a routerLink="/maths-operators" routerLinkActive="active" ariaCurrentWhenActive="page">Math Operators</a></li>
    
    <li><a routerLink="/filter" routerLinkActive="active">Filter</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
